body {
  background: rgb(11, 216, 199);
  }
#header {
  text-align: center;
}  
nav {
  text-align: center;
}
nav a {
  padding-left: 20px;
  padding-right: 20px;
}
#hello-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}
#about-family {
  padding-top: 100px;
  padding-left: 280px
}
#about-me {
  padding-top: 80px;
  padding-left: 280px;
}
#car-photo {
  display:inline-block;
  width: 250px;
  height: 250px;
  margin-left: 400px;
  position:relative;
  bottom: 160px;
}
#destiny-photo {
  display:block;
  width: 350px;
  height: 225px;
  margin-left: 650px;
  position:relative;
  bottom: 400px;
  padding-left: 20px;
}
#movie-photo {
  display:block;
  width: 250px;
  height: 380px;
  margin-left: 1000px;
  position:relative;
  bottom:700px;
  padding-left: 40px;
}
#professionally {
  text-align: center;
  position: relative;
  top: -450px;
}
#resume {
  display: inline-block;
  width: 800px;
  height: 800px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 10px solid #ccc;
  border-color: #4CAF50;
  border-radius: 12px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}